@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Crimson+Pro:wght@300;400;500;600;700&display=swap');

:root {
  --color-base: #F9F9F8;
  --color-accent: #2D302E;
  --color-success: #D1E8E2;
}

body {
  background-color: var(--color-base);
  color: var(--color-accent);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
